*.acn
*.acr
*.alg
*.aux
*.apk
*.ap_
*.bbl
*.blg
*.classpath
*.class
*.cache
*.dex
*.dvi
*.DS_Store
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.pdf
*.ps
*.snm
*.synctex.gz
*.toc
*.violet
*.vrb
*.xdy
/Sourcecode/.classpath
.project
bin/
gen/